.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Counter
{
 display:grid;
 grid-template-columns:1fr 1fr;
 column-gap:10px;
}
.SavedTimes{
  padding-left:20px;
}
.CounterButtons{
  display:grid ;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1fr;
  height:40px;
  color: #000;
}
.CounterButton{
  font-size:20px;
}
.ListButton{
  font-size:20px;
}
.ListButtons{
  display:grid ;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1fr;
  height:40px;
  color: #000;
}
.Time{
  font-size: 50px;
  text-align: center;
}
.InputField{
  display:block;
  width: 100%;
  height:50px;
  font-size: 40px;
}
.ListItems{
  font-size:30px;
}
.ListPlaceholder{
  font-size:20px;
}
.TimerStatus{
  font-size:30px;
}